/* Reset and container styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    overflow: hidden; /* Prevent vertical scrolling */
}

main {
    width: 14260px; /* Full scroll width */
    height: 100%;
    overflow-x: scroll;
    display: flex; /* Flex for inline child alignment */
    position: relative;
}

/* Timeline background styling */
#timelineBackground, #timelineForgrund {
    width: 100%; /* Full width to fill main container */
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

.background-image, .forgrund-image {
    width: 100%; /* Stretch to fill container */
    height: 100%; /* Maintain full height */
    object-fit: contain; /* Ensure no cropping */
}

/* Animated girl styling */
.animated-girl {
    position: absolute;
    top: 70%; /* Adjust as needed */
    transform: translateY(-50%);
    left: 50px; /* Adjust initial position */
    pointer-events: none;
}

.girl-image {
    width: 200px; /* Adjust size as needed */
    margin-left: 300px;
}

.hidden {
    display: none;
}