/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Indsætter font*/
@font-face {
    font-family: 'Sour Gummy';
    src: url(../fonts/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf);
}
body{
    font-family: 'Sour Gummy';
}

/* Viewport højde for main */
body, html {
    height: 100vh;
    overflow: hidden; /* Ingen vertikal scrolling */
}

main {
    width: auto; /* Match baggrund vidde */
    height: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    position: relative;
}

/* Timeline baggrund styling */
#timelineBackground {
    position: absolute;
    width: 15707px; 
    height: 100vh; 
    top: 0;
    left: 0;
    overflow: hidden;
}

.background-image {
    width: 15707px; 
    height: 100%; 
    object-fit: cover; 
}

/* Timeline forgrund styling */
#timelineForgrund {
    position: absolute;
    width: 15707px;
    height: 100vh; 
    top: 0;
    left: 0;
    overflow: hidden;
}

.forgrund-image {
    width: 15707px;
    height: 100%;
    object-fit: cover; 
}

/* Animated girl styling */
.animated-girl {
    position: absolute;
    top: 70%; 
    transform: translateY(-50%);
    left: 50px; 
    pointer-events: none; 
}

/* Girl image styling */
.girl-image {
    width: 200px; 
    margin-left: 300px;
}

.hidden {

    display: none;/* Gem stillestående billede når hun går */
}


/*Styling the audio btn*/
#audio-btn{
    position: fixed;
    top: 1rem;
    left: 90rem;
    background-color: #ECE8E5;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.133);
    color: black;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.133);
    border: none;
    cursor: pointer;
    z-index: 1000;
}
#audio-btn:hover{
    background-color: #ece0d8;
}


/* Styler #container*/
#container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.item {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-right: 100px;
    background-color: f0f0f0;
    vertical-align: top;
    position: absolute;
    margin-left: 15rem;
    margin-top: -12rem;
}

/*Styling text from jsonData*/
.item p {
    white-space: pre-line;
    line-height: 1.5;
    width: 30rem;
}
.item-2{
    margin-left: 90rem;
    margin-top: -21rem;
}
.item-3{
    margin-left: 195rem;
    margin-top: -20rem;
}
.item-4{
    margin-left: 286rem;
    margin-top: -15rem;
}.item-5{
    margin-left: 303rem;
    margin-top: 7rem;
}.item-6{
    margin-left: 368rem;
}.item-7{
    margin-left: 463rem;
}.item-8{
    margin-left: 475rem;
    margin-top: -22rem;
}.item-9{
    visibility: hidden;
}.item-10{
    visibility: hidden;
}.item-11{
    margin-left: 573rem;
    margin-top: -18rem;
}.item-12{
    margin-left: 653rem;
    margin-top: -18rem;
}.item-13{
    margin-left: 733rem;
    margin-top: -20rem;
}.item-14{
    margin-left: 769rem;
    margin-top: -16rem;
}.item-15{
    margin-left: 837rem;
    margin-top: -21rem;
}.item-16{
    margin-left: 878rem;
    margin-top: -11rem;
}.item-17{
    margin-left: 925rem;
    margin-top: 3rem;
}


/*styling icon btn*/

#information-icon {
    position: absolute;
    bottom: 350px; 
    right: 700px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

}

/*styling pop-up*/

#pop-up-question {
    display: none; /*skjuler popup*/
    position: absolute;
    left: 500px;
    background-color: #ece0d8;
    border: 15px solid #000;
    width: 600px;
    height: 300px;
    margin: 20px;
    max-width: 80%;
    padding: 10px;
}



.pop-up-information {
    border: 6px solid #000;
    width: 550px;
    height: 250px;
}

#pop-up-question p {
    padding-left: 30px;
    padding-top: 20px;
    font-size: large;
}

.question-btn {
    background-color: #000;
    padding: 6px 40px;
    border-radius: 20px;
    color:#ece0d8;
    font-size:medium;
    margin-top: 40px;
    
}

.question-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}


.close-btn-popup {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 5px;
    font-weight: 800;
    cursor: pointer;
}




